.footer {
    position: absolute; 
    bottom: 0px;
    width: 100%;
    color: black;
    text-align: center;
    background-color: #3F51B5;
}

.menuLeft {
    margin-left: 5px;
    margin-right: 5px;
}

.menuconnexion {
    position:absolute;
    bottom: 10px;
}

.barreconnexion {
    position: absolute;
    bottom: 100px;
}